.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.pigpen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.btn {
    background: transparent;
    cursor: pointer;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.1s;
}

.btn:active {
    background: rgba(255, 255, 255, 0.3);
}

.tictactoe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}

.tictactoe > *, .x > * {
    border: 2px solid rgb(255, 255, 255);
    width: min(100px, 30vw);
    aspect-ratio: 1 / 1;
}

.x {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    transform: rotate(45deg);
    margin: 50px;
}

.input {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    font-family: var(--font-geist-mono);
    font-size: 1.2em;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    max-width: 400px;
    gap: 10px;
}

.controls {
    display: flex;
    gap: 10px;
}

.controlBtn {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: var(--font-pixel);
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s;
}

.controlBtn:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* CELL BORDER CORRECTIONS */

.tttCell0, .tttCell1, .tttCell2, .xCell0, .xCell1 {
    border-top: none;
}

.tttCell0, .tttCell3, .tttCell6, .xCell0, .xCell2 {
    border-left: none;
}

.tttCell2, .tttCell5, .tttCell8, .xCell1, .xCell3 {
    border-right: none;
}

.tttCell6, .tttCell7, .tttCell8, .xCell2, .xCell3 {
    border-bottom: none;
}
