.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.pigpen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.btn {
    background: transparent;
    cursor: pointer;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: background 0.1s;
}

.btn:active {
    background: rgba(255, 255, 255, 0.3);
}

.tictactoe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}

.tictactoe > *, .x > * {
    border: 2px solid rgb(255, 255, 255);
    width: min(100px, 30vw);
    aspect-ratio: 1 / 1;
}

.x {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    transform: rotate(45deg);
    margin: 50px;
}

/* CELL BORDER CORRECTIONS */

.tttCell0, .tttCell1, .tttCell2, .xCell0, .xCell1 {
    border-top: none;
}

.tttCell0, .tttCell3, .tttCell6, .xCell0, .xCell2 {
    border-left: none;
}

.tttCell2, .tttCell5, .tttCell8, .xCell1, .xCell3 {
    border-right: none;
}

.tttCell6, .tttCell7, .tttCell8, .xCell2, .xCell3 {
    border-bottom: none;
}

.helpImg {
    filter: invert();
    width: 100%;
    max-width: 400px;
    height: auto;
}

.helpSingleClick, .helpDoubleClick {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.helpDrawing {
    display: inline-block;
    min-width: 40px;
    min-height: 40px;
    border: 2px solid white;
    position: relative;
}

.helpDoubleClick .helpDrawing::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 1px;
    border: 5px solid white;
    border-radius: 50%;
    content: "";
}

.helpResult {
    font-size: 1.2rem;
    font-family: var(--font-geist-mono);
}