:root {
	--background: #000000;
	--foreground: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    color: var(--foreground);
    background: var(--background);
}