.page {
    font-family: var(--font-geist-sans);
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-pixel);
    gap: 1rem;
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fieldset {
    display: grid;
    width: 100%;
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #222222;
    padding: 2rem;
    text-align: center;
}

.legend {
    text-align: initial;
    line-height: 0;
    font-family: var(--font-pixel);
}

.link {
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .fieldset {
        grid-template-columns: 1fr;  
    }
}